{{ define "main" }}
<div class="ml-auto mr-auto row row-eq-height rounded">
  <div class="col-md-5 text-center p-2 mt-1">
    <div class="profile-area rounded text-center position-relative shadow">
      {{ partial "profilePhoto" . }}
      <div class="p-2">
        {{ partial "social" . }} 
      </div>
    </div>
  </div>
  <div class="col-md-7 pt-2 mt-3">
    {{ range .Site.Params.showInAccordion }}
    <h2 class="accordion {{ if .expand }} active {{ end }}">
      {{ $current := index $.Site.Params .item }}
      <span onclick="expandAccordion(this)" style="cursor: pointer;">
        <i class="{{ $current.icon }}"></i>
        {{ $current.title -}}
      </span>
    </h2>
    <div
      class="panel overflow-hidden"
      {{ if $current.panelid }}
      id="{{ $current.panelid }}"
      {{ end }}
    >
      {{ partial (print "accordion/" .item) $ }}
    </div>
    {{ end }}
    <script src="{{ `js/accordion.js` | relURL }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.js"></script>
  </div>
  <div> {{ partial "footer" .}}</div>
</div>


{{ end }}
