body {
  font-family: "Oswald";
  overflow-y: scroll;
  transition: all 0.15s;
  background-color: var(--primaryBg);
  color: var(--primaryText);
}
blockquote > p {
  margin-left: 1em;
  color: var(--secondaryText);
  background-color: var(--secondaryBg);
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-left: solid 3px;
}
.content img {
  width: 100%;
}
pre {
  background-color: var(--secondaryBg);
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px var(--shadow) !important;
}
pre code {
  color: var(--secondaryText);
}
.highlight > pre code {
  color: white;
}
code {
  color: var(--secondaryText);
  font-family: "Roboto Mono", monospace !important;
  font-size: 1em !important;
}
footer {
  font-size: 0.8em !important;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  margin-bottom: 0.5em;
}
th,
td {
  background-color: var(--secondaryBg);
  border: solid 1px var(--primaryText);
  padding: 0.25em 0.5em;
  text-align: left;
}
.main-menu > a {
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  border: solid 1px var(--primaryLinks);
  background-color: var(--primaryBg);
  color: var(--primaryLinks);
}
.main-menu > a:hover {
  text-decoration: none;
  border: solid 1px var(--primaryLinks);
  background-color: var(--primaryLinks);
  color: var(--primaryBg);
}
dt {
  font-weight: 400;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2rem;
},
h2 {
  font-family: "Oswald", sans-serif;
},
h3,
h4,
h5,
h6 {
  font-family: "Didact Gothic", sans-serif;
}
a,
a:hover,
.accordion,
.accordion:hover {
  color: var(--primaryLinks);
}
.fa-toggle-on,
.fa-toggle-off {
  color: var(--primaryLinks);
}
/*.skillbar {
  background-color: var(--primaryBg);
  border: solid 1px var(--primaryText);
}
#skill-percent {
  background-color: var(--primaryLinks);
}*/
.profile-area {
  background-color: var(--cardBg);
  color: var(--cardText);
}
.profile-area a,
.profile-area .accordion:hover,
.social-icons * {
  color: var(--cardLink);
}
.shadow {
  box-shadow: 0px 0px 5px 1px var(--shadow) !important;
}
.top-h1 {
  font-size: 2.5em;
}
.zoomlink {
  font-size: 2em;
}
.zoomlink:hover {
  font-size: 1.9em;
  cursor: pointer;
}
.panel {
  max-height: 0;
  transition: 0.3s ease-out;
  box-sizing: border-box;
}
.metadata-panel {
  margin-left: 1.7em;
}
.active + .metadata-panel {
  margin-bottom: 1em;
}
.metadata {
  background-color: var(--secondaryBg);
  padding: 0.5em;
}
.expand-metadata {
  cursor: pointer;
  text-align: left;
  min-width: 1em;
  font-size: 1em;
}
.expand-metadata::after {
  content: "+";
}
.active > .expand-metadata::after {
  content: "-";
}
.metadata-tags {
  font-size: 0.9em;
  font-style: italic;
}
.metadata-tags::before {
  content: "#";
}
.metadata-tags::after {
  content: ",";
}
.metadata-tags:last-child::after {
  content: "";
}
/*.skillbar {
  border-radius: 3px;
}
#skill-percent {
  height: 15px;
  transition: all 0.7s;
}*/
.pagination * {
  background-color: var(--primaryBg) !important;
  color: var(--primaryLinks) !important;
}
.page-item {
  border: solid 1px var(--primaryLinks) !important;
}
.page-item.disabled * {
  color: var(--primaryText) !important;
}
.page-item.active * {
  color: var(--secondaryText) !important;
  background-color: var(--secondaryBg) !important;
}
.aafu-border {
  border-color: var(--primaryLinks) !important;
}
.nav-menu-disabled {
  color: var(--secondaryBg);
}
