:root {
  --primaryBg: #ffffff;
  --primaryText: rgb(0, 0, 0);
  --primaryLinks: #ffae19;
  --secondaryBg: #fefefe;
  --secondaryText: #000000;
  --secondaryLinks: #ffc107;
  --shadow: black;
  --cardBg: #757272;
  --cardText: white;
  --cardLink: #ffae19;
}
