{{ range.Site.Params.music.list }}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nested Accordion</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      collapsible: true
    });
  } );
  </script>
</head>
<body>
<div id="accordion" style="padding:10px";>
  <h5>
  <a href="{{ .url }}"><img src="tbnIconNative.png" height='38'>Ensemble Experience</a>
</h5>
  <div>
Cam performs trombone in several musical styles including jazz, opera, and reggae. He has performed in a variety of ensembles across Ontario including the McMaster Jazz Band, Theatre Ancaster, and The Southern Ontario Lyric Opera. Outside of Canada, Cam performed with the reggae group Son D'Jah in San Martin, Peru. 
 </div>
  <h5>
  <i class="fab fa-bandcamp" style="color:#ffae19">
  </i>
  <a href="{{ .url }}">Composition</a>
</h5>
  <div>
You can find Cam's most recent musical compositions and collaborations <a href= "https://music.cameronanderson.ca">here</a>.
<div>
<iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/track=2373714113/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless><a href="https://music.cameronanderson.ca/track/wood-thrush">Wood Thrush by Cameron Anderson</a></iframe>
</div>
  </div>
  </div>
</body>
</html>
{{ end }}
