
<style>
  div.gallery {
     display: flex;
     flex-wrap: wrap;
  }
  
      div.gallery img:hover {
        border: 1px solid #777;
            opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
      }
        div.gallery a {
            flex-grow: 1;
            object-fit: cover;
            margin: 2px;
            display: flex;
        }

        div.gallery a img {            
            height: 300px;
            width: 300px;
            opacity: 0.8;
            object-fit: cover;
            flex-grow: 1;
        }

    </style>
    
    
    <script>
  var music = new Audio();
  function playAudio(url) {
  music.pause();
  music = new Audio(url);
  music.play();
  
}
  function pauseAudio(url) {
  music.pause();
  
}
</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.0/jquery.fancybox.min.css" />




    <div class="gallery">
        {{ $base := .Get "src" }}
        
        
	{{ $path := print "static/" (.Get "src") }}

	{{ range (readDir $path) }}
        {{- $thumbext := "-thumb" }}
        {{- $audioext := ".ogg" }}
        {{- $isthumb := .Name | findRE ($thumbext | printf "%s\\.") }}<!-- is the current file a thumbnail
        image? -->
        {{- $isimg := lower .Name | findRE "\\.(gif|jpg|jpeg|tiff|png|bmp)" }}<!-- is the current file an image? -->
        {{- $isaudio := lower .Name | findRE "\\.(ogg|mp3|wav)" }}
        {{- if and $isimg (not $isthumb) }}
        {{- $thumb := .Name | replaceRE "(\\.)" ($thumbext | printf "%s.") }}
        {{- $audio := .Name | replaceRE "(\\.(gif|jpg|jpeg|tiff|png|bmp))" ($audioext | printf "%s") }}


          <a>  

                <img src="/{{ $base  }}/{{ $thumb }}"  onclick="playAudio('/{{ $base }}/{{ $audio}}')" 
                onmouseout="pauseAudio('/{{ $base }}/{{ $audio}}')" >  <br/>            
           </a> 
          

        {{- end }}
	{{ end }}
    </div>
    
    
