<div class="d-flex flex-row row p-3">
  <h3 class="main-menu mr-3">
    <a href="{{ .Site.BaseURL }}">About</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `music` | relURL }}">Music</a>
  </h3>
  <h3 class="main-menu mr-3">
    <a href="{{ `posts` | relURL }}">Blog</a>
  </h3>
</div>
