<div class="d-flex justify-content-center pt-2">
  <div class="w-100 h-100">
    <img
      class="rounded mt-7"
      src="{{ `images` | relURL }}/{{ .Site.Params.profile.photo }}"
      alt="{{ .Site.Params.author }}"
      style="width: 90%; max-width: 300px;"
    />
  </div>
</div>
