<h1 class="mb-0">{{ .Site.Params.profile.name }}</h1>
<h2 class="mb-0">{{ .Site.Params.profile.tagline }}</h2>
<h3 class="mb-0">{{ .Site.Params.profile.location }}</h3>
<div class="mt-2 d-flex flex-wrap justify-content-center">
  {{ range.Site.Params.social.list }}
  <div style="height:40px; width:40px;">
    <a href="{{ .url }}">
      <i class="zoomlink mt-1 {{ .icon }}"></i>
    </a>
  </div>
  {{ end }}
  <style>
.zoom:hover {
  transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
  <div class="mb-0 d-flex flex-wrap justify-content-center">
     <div class="zoom">
    <a href="https://osf.io/v84zx/">
      <img src="OSF.png" alt="Open Science Framework" style="width:33px;height:33px;" vspace="3" hspace="5"> 
    </a>
  </div>
  </div>
  </img>

</div>